asyncio==3.10.1
func-timeout==4.4.1
getpass==3.3
json==2.0.9
logging==1.4.2
os==1.1.0
pyautogui==0.9.52
pygame==2.0.0.dev6
pygame.camera==2.0.0.dev6
pygame.image==2.0.0.dev6
platform==1.3.3
pygame.surfarray==2.0.0.dev6
re==2.5.2
sounddevice==0.4.3
subprocess==1.0.1
sys==1.1.0
telegram.ext==0.2.0
wavio==0.9
cryptography==4.3.1
os==1.1.0argparse==1.4.0
base64==1.0.0
configparser==5.1.1
cryptography==4.3.1
ctypes==1.2.0
datetime==1.1.0
getpass==3.3
itertools==2.1.0
json==2.0.9
locale==2.5.0
logging==1.4.2
os==1.1.0
platform==1.3.3
re==2.5.2
shutil==1.5.0
sqlite3==2.1.1
sys==1.1.0
typing==4.1.2
win32crypt==2.5.2
